:root {
  --width-target: 8em;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  background: #bbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.score {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.difficulty {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-block: 1em;
}
.target-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2em;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}
button {
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5em;
  outline: none;
  border: none;
}
button:hover,
button:focus,
button:focus-within {
  background: green;
  color: white;
}

.square {
  --width: 8em;
  width: var(--width);
  aspect-ratio: 1;
  user-select: none;
}
.target {
  width: var(--width-target);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 50%;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .container {
    background: pink;
  }
}
